/* BRAND - TYPOGRAPHY */
/* Headings */
h1,
h2,
h3 {
  font-family: $font-copy;
  font-style: normal;
  line-height: line-height("heading");
}

h1 {
  margin-bottom: 32px;
  font-size: font-size("h1");
  font-weight: font-weight("regular");
}

h2 {
  margin-bottom: 48px;
  font-size: font-size("h2");
  font-weight: font-weight("bold");
}

// h3 {
// }

/* Text */
.text {
  &--small {
    font-size: font-size("sm");
  }

  &--bold {
    font-weight: font-weight("bold");
  }

  &--neutral {
    &--light {
      color: neutral("light");
    }
    &--dark {
      color: neutral("dark");
    }
  }

  &--center {
    text-align: center;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}
