/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"); // font-family: 'Poppins', sans-serif;

// Helpers
@import "./helpers/variables";
@import "./helpers/mixins";
@import "./helpers/functions";

// Globals
@import "./globals/resets";
@import "./globals/commons";
@import "./globals/margins";
@import "./globals/widths";

// Elements
@import "./elements/sections";
@import "./elements/containers";
@import "./elements/flex";
@import "./elements/grids";
@import "./elements/typography";
@import "./elements/buttons";
@import "./elements/images";

// Components
@import "./components/navbar";
