/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&display=swap"); // font-family: 'Poppins', sans-serif;

// Helpers
@import "./helpers/variables";
@import "./helpers/mixins";
@import "./helpers/functions";

// Globals
@import "./globals/resets";
@import "./globals/commons";

// Utiles
@import "./utiles/margins";
@import "./utiles/paddings";
@import "./utiles/widths";

// Brand
@import "./brand/typography";

// Layouts
@import "./layouts/sections";
@import "./layouts/containers";
@import "./layouts/flex";
@import "./layouts/grids";

// Elements
@import "./elements/buttons";
@import "./elements/links";
@import "./elements/images";
@import "./elements/forms";
@import "./elements/inputs";
@import "./elements/dividers";
@import "./elements/social-media";

// Components
@import "./components/navbar";
@import "./components/footer";
@import "./components/cards";
@import "./components/sliders";
@import "./components/modals";
