/* ELEMENTS - DROP DOWNS */
.drop-down {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 48px;
  overflow: hidden;
  background-color: neutral("white");
  border: 1px solid neutral("light");
  transition: height 0.32s ease-in-out;

  &.opened {
    height: 274.97px;
  }

  &__handle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    width: 100%;
    height: 48px;
    font-family: $font-copy;
    font-style: normal;
    font-weight: font-weight("regular");
    font-size: font-size("md");
    line-height: 1;
    color: neutral("black");
    cursor: pointer;
    transition: color 0.32s ease-in-out;

    svg {
      transition: transform 0.32s ease-in-out;
      &.opened {
        transform: rotateZ(180deg);
      }
    }

    /* RESPONSIVENESS */
    // Desktop
    @include responsive(md) {
      &:hover {
        color: brand("primary");
      }
    }
  }

  &__content {
    padding: 8px 0;
    border-top: 1px solid neutral("lighter");
  }

  &__option {
    padding: 8px 16px;
    transition: background-color 0.32s ease-in-out;
    cursor: pointer;

    /* RESPONSIVENESS */
    // Desktop
    @include responsive(md) {
      &:hover {
        background-color: brand("secondary");
      }
    }
  }

  /* RESPONSIVENESS */
  // Tablet
  @include responsive(sm) {
    width: 240px;
  }
}
