/* EMELENTS - FORMS */
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  &--horizontal {
    /* RESPONSIVENESS */
    // Tablet
    @include responsive(sm) {
      flex-direction: row;
      align-items: flex-start;
      gap: 0;
    }
  }

  &--newsletter {
    /* RESPONSIVENESS */
    // Tablet
    @include responsive(sm) {
      width: 560px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  &__feedback {
    font-size: font-size("sm");

    &.success {
      color: semantic("success");
    }
    &.error {
      color: semantic("error");
    }
  }
}
