nav.section.section--nav(data-component="navbar")
    .container.container--nav
        a.nav__brand(href="/")
            img(src="./img/logo/primary.svg", alt="Taburete logo")
        .nav__wrapper
            a.nav__cart-icon(href="#")
                img(src="./img/icons/cart-icon.svg" alt="Cart icon")
            .nav__burger
                .burger__line.top
                .burger__line.middle
                .burger__line.bottom
            .nav__menu
                a.nav__link(href="#") Shop by room
                a.nav__link(href="#") Contact us
                a.nav__link(href="#") Register / Login
                a.nav__link(href="#") Our blog