//- TODO Replace links by URLs
nav.section.section--nav(data-component="navbar")
    .container.container--nav
        a.nav__brand(href="./")
            img(src="./img/logo/primary.svg", alt="Taburete logo")
        .nav__wrapper
            a.nav__cart-icon(href="#")
                img(src="./img/icons/cart-icon.svg" alt="Cart icon")
            .nav__burger(data-element="nav-burger")
                .burger__line.top
                .burger__line.middle
                .burger__line.bottom
            .nav__menu(data-element="nav-menu")
                a.nav__link(href="./shop.html", data-page="shop") Shop by room
                a.nav__link(href="./contact-us.html", data-page="contact-us") Contact us
                a.nav__link(href="./register-login.html", data-page="register-login") Register / Login
                a.nav__link(href="./blog.html", data-page="blog") Our blog