/* Common styles */
body {
  position: relative;
  font-family: $font-copy;
  font-style: normal;
  font-size: font-size("md");
  font-weight: font-weight("regular");
  line-height: line-height("copy");
  color: neutral("black");
  background-color: neutral("white");
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

main {
  overflow: hidden;
}

img {
  width: 100%;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
