/* COMPONENTS - CARDS */
.card {
  background: neutral("white");
  box-shadow: 0px 4px 24px rgba(40, 54, 58, 0.24);

  &--category {
    position: relative;

    &__overlay {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      font-family: $font-copy;
      font-style: normal;
      font-weight: font-weight("black");
      font-size: font-size("lg");
      line-height: line-height("heading");
      letter-spacing: 4px;
      text-transform: uppercase;
      color: neutral("white");
      background: brand("overlay");
      transition: opacity 0.32s ease-in-out;

      /* RESPONSIVENESS */
      // Desktop
      @include responsive(md) {
        &.hovering {
          opacity: 0;
        }
      }
    }

    &__background {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px;
      overflow: hidden;

      img {
        transition: transform 0.32s ease-in-out;
      }

      /* RESPONSIVENESS */
      // Landscape
      @include responsive(xs) {
        height: 240px;
      }

      // Tablet
      @include responsive(sm) {
        height: auto;

        &.hovering {
          img {
            transform: scale(128%);
          }
        }
      }
    }
  }

  &--testimonial {
    flex: none;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    width: 240px;

    /* RESPONSIVENESS */
    // Landscape
    @include responsive(xs) {
      flex-direction: row;
      padding: 32px;
      width: 480px;
    }

    &__client {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;

      .client {
        &__rating {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 4px;
          width: 160px;
        }

        &__info {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 12px;
          width: 100%;
        }

        &__avatar {
          flex: none;
          overflow: hidden;
          width: 64px;
          height: 64px;
          border-radius: 32px;
        }

        &__id {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 6px;

          .job-title {
            font-weight: font-weight("bold");
            font-size: font-size("sm");
            line-height: line-height("copy");
            color: neutral("dark");
            text-transform: uppercase;
          }
        }
      }
    }

    &__review {
      width: 100%;
    }
  }

  &--featured-item {
    width: 288px;

    /* RESPONSIVENESS */
    // Desktop
    @include responsive(md) {
      width: max-content;
    }

    &__image {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 160px;
      overflow: hidden;

      /* RESPONSIVENESS */
      // Tablet
      @include responsive(sm) {
        height: 240px;
      }

      // Desktop
      @include responsive(md) {
        height: 320px;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 8px 16px;

      /* RESPONSIVENESS */
      // Tablet
      @include responsive(sm) {
        padding: 16px 32px;
      }
    }
  }

  &--post {
    &__image {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      height: 160px;

      /* RESPONSIVENESS */
      // Tablet
      @include responsive(sm) {
        height: 240px;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 8px 16px;

      /* RESPONSIVENESS */
      // Tablet
      @include responsive(sm) {
        padding: 16px 32px;
      }
    }
  }
}
