/* LAYOUTS - CONTAINERS */
.container {
  padding: 0 16px;
  width: 100%;
  max-width: 1280px;

  /* RESPONSIVENESS */
  // Landscape
  @include responsive(xs) {
    padding: 0 24px;
  }

  // Tablet
  @include responsive(sm) {
    padding: 0 40px;
  }

  // Desktop
  @include responsive(md) {
    padding: 0 64px;
  }

  &--nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &--flex {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &.gap {
      &--sm {
        &--sm {
          gap: 32px;
        }
      }
    }

    /* RESPONSIVENESS */
    // Tablet
    @include responsive(sm) {
      &.tablet--horizontal {
        flex-direction: row;
        gap: 32px;
      }
    }
  }

  &--center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
