/* LAYOUTS - FLEX */
.flex {
  display: flex;

  &--vertical {
    flex-direction: column;

    &.align-items {
      &--start {
        align-items: flex-start;
      }
    }
  }

  &--horizontal {
    flex-direction: row;

    &.align-items {
      &--baseline {
        align-items: baseline;
      }
    }

    &.justify-content {
      &--start {
        justify-content: flex-start;
      }
    }
  }

  &.gap {
    &--sm {
      &--3xs {
        gap: 8px;
      }
    }
  }
}
