.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;

  /* RESPONSIVENESS */
  // Tablet
  @include responsive(sm) {
    padding: 80px 0;
  }

  &--nav {
    padding: 24px 0;
    transition: padding 0.32s ease-in-out, background-color 0.32s ease-in-out,
      box-shadow 0.32s ease-in-out;

    &.white {
      padding: 8px 0;
      background-color: neutral("white");
      box-shadow: 0px 4px 24px rgba(40, 54, 58, 0.24);
    }
  }

  &--hero {
    padding: 160px 0 80px;
    overflow: hidden;
    background: radial-gradient(
      100% 316.05% at 100% 100%,
      #3b839d 0%,
      #8fdcf9 100%
    );
  }
}
