/* UTILES - MARGINS */
.margin {
  &--top {
    &--xs {
      margin-top: map-get($spacers, "xs");
    }
  }
  &--bottom {
    &--2xs {
      margin-bottom: map-get($spacers, "2xs");
    }
    &--xs {
      margin-bottom: map-get($spacers, "xs");
    }
    &--md {
      margin-bottom: map-get($spacers, "md");
    }
  }
  &--none {
    margin: 0;
  }
}
