.margin {
  &--bottom {
    &--2xs {
      margin-bottom: map-get($spacers, "2xs");
    }
    &--xs {
      margin-bottom: map-get($spacers, "xs");
    }
    &--md {
      margin-bottom: map-get($spacers, "md");
    }
  }
}
