/* UTILES - WITHS */
.width {
  /* RESPONSIVENESS */
  // Landscape
  @include responsive(xs) {
  }

  // Tablet
  @include responsive(sm) {
    &--tb {
      &--md {
        &-sm {
          flex: none;
          width: 320px;
        }
        &-md {
          flex: none;
          width: 400px;
        }
      }
    }
  }

  // Desktop
  @include responsive(md) {
    &--dk {
      &--md {
        &-md {
          flex: none;
          width: 400px;
        }
      }
    }
  }

  &--full {
    width: 100%;
  }

  &--max--md-4xl {
    max-width: 800px;
  }
}
